@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

:root
{
    --bg-color: #220088;
    --subfondo: #1100334a;
    --fondo: #110033;
    --secundario: #883399;
    --azul: #2200ee;
    --font: rgb(113 119 144 / 78%);
    --font2: #f9fafb;
    --rojo: #de1c47;
    --verde: #15a95b;
    --theme-bg-color: rgba(16 18 27 / 22%);
    --delay: 0s;
}

html 
{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

body
{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: var(--font);
    background-image: url(../img/macos-monterey-wwdc-21-stock-dark-mode-5k-6016x6016-5585.jpg);
	overflow: hidden;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin: 0;
}